<div id="content">
    <h4>{{ ocurrenceModel.titulo }}</h4>
    <div>
        <p ng-model="ocurrenceModel.descricao"></p>
        <p><b>Datetime: </b> 13:30h&nbsp;&nbsp
            <b>Coordenates: </b>{ {{coor.lat.toFixed(3)}} , {{coor.lng.toFixed(3)}} }
            <b>Distance: </b> {{distance}} km</p>
        <p><a href="{{ocurrenceModel.foto}}">Alert photographs</a>
            <button class="btn btn-default" ng-click="displayRoute()">Calculte Route</button></p>

        <span ng-if="segmento=='global'">
            <h4>Set a segment</h4>
            <button class="btn btn-primary" ng-click="colorMarker('blue', 'P')">POLICE DEPARTMENT</button>
            <button class="btn btn-danger" ng-click="colorMarker('red', 'H')">HEALTH CARE</button>
            <button class="btn btn-black" ng-click="colorMarker('black', 'F')">FIRE DEPARTMENT</button>
            <button class="btn btn-success" ng-click="colorMarker('green', 'C')">CIVIL DEFENSE</button>
            <h4>Commands:</h4>
            <b>Status:</b>&nbsp;&nbsp;&nbsp;&nbsp
            <select class="selectpicker" ng-model="ocurrenceModel.status"> 
                <option value="not started">Not Started</option> 
                <option value="started">Started</option> 
                <option value="canceled">Canceled</option> 
                <option value="reinforcements">Reinforcements</option> 
                <option value="finished">Finished</option> 
                </select>
        </span>
        <button class="btn btn-default" ng-click="sendOccurrence()">Save</button>
        <button class="btn btn-danger" ng-click="deleteMarker()">Finish</button>
    </div>
</div>