<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include Bootstrap Css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include Font-awesome Css -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- Include Jquery Js -->
    <script src='/js/jquery-2.1.4.min.js'></script>

    <!-- Include Bind-Component Js -->
    <script src="/components/bind-components.js"></script>
    <!-- Include Style Css -->
    <link href='/style.css' rel='stylesheet' type='text/css'>
</head>

</html>