<nav id="nav" class="navbar navbar-inverse">
    <script src="components/navbar.js"></script>
    <div id="navlinks" class="container-fluid" style="font-size:18px; font-family: 'Roboto';">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Portal SIG-TRAC-2016</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">CCC</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/about"><span class="glyphicon glyphicon-user"></span> About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</nav>