<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="/components/depend.html">
    <title>SIG-TRAC-2016</title>
</head>

<div id="navigation"></div>

<body>
    <h2>Central de Comando e Controle</h2>
    <div class="row">
        <div class="col-sm-10">
            <div id="map"></div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <img src="img/monitor.png" alt="Smiley face">
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="fa fa-map-marker" style="color:blue;"></i> Segmento 1</li>
                <li class="list-group-item">
                    <i class="fa fa-map-marker" style="color:red;"></i> Segmento 2</li>
                <li class="list-group-item">
                    <i class="fa fa-map-marker" style="color:black;"></i> Segmento 3</li>
                <li class="list-group-item">
                    <i class="fa fa-map-marker" style="color:green;"></i> Segmento 4</li>
                <li class="list-group-item">
                    <i class="fa fa-map-marker" style="color:gray;"></i> Não designada</li>
                <li class="list-group-item">
                    <i class="fa fa-heartbeat" style="color:red;"></i> Sensor</li>
            </ul>

        </div>
    </div>
    <script>
        // ITA position
        var my_position = {
            lat: -23.21,
            lng: -45.87
        };

        // Initializes the map
        var mapCanvas = document.getElementById("map");
        var mapOptions = {
            center: my_position,
            zoom: 14
        }
        var contentString, infoWindow;
        var map, marker, selection, coor;
        var markers = [];

        function loadMap() {

            /***********************************************
                        Initializes map and stuff
            ***********************************************/

            // Initializes map
            map = new google.maps.Map(mapCanvas, mapOptions);

            // Initializes a marker
            marker = new google.maps.Marker({
                position: my_position,
                map: map,
                draggable: true,
                icon: pinSymbol("#aaa")
            });

            // Initializes infowindow
            infowindow = new google.maps.InfoWindow({
                content: contentString
            })

            /***********************************************
                        Creates new markers
            ***********************************************/

            // Event to create a new marker
            google.maps.event.addListener(map, 'click', function(event) {
                new_marker = new google.maps.Marker({
                    position: event.latLng,
                    map: map,
                    draggable: true,
                    icon: pinSymbol("#aaa")
                });
                new_marker.addListener('click', function(event) {
                    genContentString(event.latLng);
                    selection = new_marker;
                    infowindow.setContent(contentString);
                    infowindow.open(map, new_marker);
                });
            });

            /***********************************************
                        Displays alert information
            ***********************************************/

            // Function for displaying alert information.
            marker.addListener('click', function(event) {
                genContentString(event.latLng);
                map.setCenter(marker.getPosition());
                selection = marker;
                infowindow.setContent(contentString);
                infowindow.open(map, marker);
            });

            function genContentString(coor) {
                contentString = '<div id="content">' +
                    '<h1 >Alerta de incêndio</h1>' +
                    '<div>' +
                    '<p><b>Horário de ocorrência: </b> 13:30h</p>' +
                    '<p><b>Coordenadas: </b>' + coor + '</p>' +
                    '<p><a href="http://www.argus-engenharia.com.br/site/wp-content/uploads/2015/03/incendio620x465.jpg">Fotos do alerta</a></p> ' +
                    '<h4>Delegar segmento</h4>' +
                    '<button class="btn btn-primary" onclick="colorMarker(\'blue\')">Segmento 1</button> ' +
                    '<button class="btn btn-danger" onclick="colorMarker(\'red\')">Segmento 2</button> ' +
                    '<button class="btn btn-default" onclick="colorMarker(\'black\')">Segmento 3</button> ' +
                    '<button class="btn btn-success" onclick="colorMarker(\'green\')">Segmento 4</button> ' +
                    '<hr>' +
                    '<h4>Comandos:</h4>' +
                    '<button class="btn btn-warning" onclick="deleteMarker()">Alerta falso</button> ' +
                    '<button class="btn btn-danger" onclick="deleteMarker()">Deletar alerta</button>' +
                    '</div>' +
                    '</div>';
            }
        }

        // Creates a custom color pin
        function pinSymbol(color) {
            return {
                path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z M -2,-30 a 2,2 0 1,1 4,0 2,2 0 1,1 -4,0',
                fillColor: color,
                fillOpacity: 1,
                strokeColor: '#000',
                strokeWeight: 2,
                scale: 1,
            };
        }

        function colorMarker(color) {
            selection.setIcon(pinSymbol(color));
        }

        function deleteMarker(param) {
            selection.setMap(null);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6R4XKuh5N6ZoQ1DvFSjUxi0Yo5fSse1c&callback=loadMap"></script>
</body>

<div id="footer"></div>

</html>