<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="/components/depend.html">
    <title>SIG-TRAC-2016</title>
</head>

<div id="navigation"></div>

<body>
    <h2>Central de Comando e Controle</h2>
    <div class="row">
        <div class="col-sm-10">
            <div id="map"></div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <img src="img/monitor.png" alt="Smiley face">
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="fa fa-map-marker" style="color:blue;"></i>
                    <a href="/ccs"> Segmento 1</a></li>
                <li class="list-group-item">
                    <i class="fa fa-map-marker" style="color:red;"></i>
                    <a href="/ccs"> Segmento 2</a></li>
                <li class="list-group-item">
                    <i class="fa fa-map-marker" style="color:black;"></i>
                    <a href="/ccs"> Segmento 3</a></li>
                <li class="list-group-item">
                    <i class="fa fa-map-marker" style="color:green;"></i>
                    <a href="/ccs"> Segmento 4</a></li>
                <li class="list-group-item">
                    <i class="fa fa-map-marker" style="color:gray;"></i> Não designado</li>
                <li class="list-group-item">
                    <i class="fa fa-heartbeat" style="color:red;"></i> Sensor</li>
            </ul>

        </div>
    </div>
    <script src="maps-scripts/load.js"></script>
    <script src="maps-scripts/ccc.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6R4XKuh5N6ZoQ1DvFSjUxi0Yo5fSse1c&callback=loadMap"></script>
</body>

<div id="footer"></div>

</html>