* {
    font-family: "verdana";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 10px;
    text-align: center;
    color: black;
}

.wrapper {
    text-align: center;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-style: italic;
}