<div id="content">
    <h4>{{ ocurrenceModel.titulo }}</h4>
    <div>
        <textarea readonly ng-model="ocurrenceModel.descricao" rows="2" cols="90"> 
            </textarea>
        <p><b>Horário de ocorrência: </b> 13:30h&nbsp;&nbsp
            <b>Coordenadas: </b>{ {{coor.lat.toFixed(3)}} , {{coor.lng.toFixed(3)}} }
            <b>Distância: </b> {{distance}} km</p>
        <p><a href="{{ocurrenceModel.foto}}">Fotos do alerta</a>
            <button class="btn btn-default" ng-click="displayRoute()">Calcular Rota</button></p>

        <span ng-if="segmento=='global'">
            <h4>Delegar segmento</h4>
            <button class="btn btn-primary" ng-click="colorMarker(\blue\, \P\)">POLICE DEPARTMENT</button>
            <button class="btn btn-danger" ng-click="colorMarker(\red\, \H\)">HEALTH CARE</button>
            <button class="btn btn-default" ng-click="colorMarker(\black\, \F\)">FIRE DEPARTMENT</button>
            <button class="btn btn-success" ng-click="colorMarker(\green\, \C\)">CIVIL DEFENSE</button>
            <hr>
            <h4>Comandos:</h4>
            <b>Status:</b>&nbsp;&nbsp;&nbsp;&nbsp
            <select class="selectpicker" ng-model="ocurrenceModel.status"> 
                <option value="nao-iniciado">Não Iniciado</option> 
                <option value="iniciado">Iniciado</option> 
                <option value="cancelado">Cancelado</option> 
                <option value="reforcos">Reforços</option> 
                <option value="finalizado">Finalizadp</option> 
                </select>
        </span>
        <button class="btn btn-default" ng-click="sendOccurrence()">Salvar</button>
        <button class="btn btn-danger" ng-click="deleteMarker()">Finalizar alerta</button>
    </div>
</div>